version: '3.9'

services:
  db:
    image: postgres:16
    container_name: fastapi-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5433:5432"

  web:
    build: .
    container_name: fastapi-web
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/ecommerce_db
    command: bash -c "sleep 3 && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

volumes:
  postgres_data:
